<div>
  <div>
    <h1>
      List of all resourcedependencies
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new resourcedependency
    </h2>

    <form action="/insert_resourcedependency" method="post">
      <div>
        <label for="product_id_box">
          Product
        </label>

        <input type="text" id="product_id_box" name="query_product_id">
      </div>

      <div>
        <label for="input_id_box">
          Input
        </label>

        <input type="text" id="input_id_box" name="query_input_id">
      </div>

      <div>
        <label for="quantity_required_box">
          Quantity required
        </label>

        <input type="text" id="quantity_required_box" name="query_quantity_required">
      </div>

      <button>
        Create resourcedependency
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Product
        </th>

        <th>
          Input
        </th>

        <th>
          Quantity required
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_resourcedependencies.each do |a_resourcedependency| %>
      <tr>
        <td>
          <%= a_resourcedependency.id %>
        </td>

        <td>
          <%= a_resourcedependency.product_id %>
        </td>

        <td>
          <%= a_resourcedependency.input_id %>
        </td>

        <td>
          <%= a_resourcedependency.quantity_required %>
        </td>

        <td>
          <%= time_ago_in_words(a_resourcedependency.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_resourcedependency.updated_at) %> ago
        </td>

        <td>
          <a href="/resourcedependencies/<%= a_resourcedependency.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
