<div>
  <div>
    <h1>
      Resourcedependency #<%= @the_resourcedependency.id %> details
    </h1>

    <div>
      <div>
        <a href="/resourcedependencies">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_resourcedependency/<%= @the_resourcedependency.id %>">
          Delete resourcedependency
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Product
      </dt>
      <dd>
        <%= @the_resourcedependency.product_id %>
      </dd>

      <dt>
        Input
      </dt>
      <dd>
        <%= @the_resourcedependency.input_id %>
      </dd>

      <dt>
        Quantity required
      </dt>
      <dd>
        <%= @the_resourcedependency.quantity_required %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_resourcedependency.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_resourcedependency.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit resourcedependency
    </h2>

    <form action="/modify_resourcedependency/<%= @the_resourcedependency.id %>"  method="post" >
      <div>
        <label for="product_id_box">
          Product
        </label>

        <input type="text" id="product_id_box" name="query_product_id" value="<%= @the_resourcedependency.product_id %>">
      </div>

      <div>
        <label for="input_id_box">
          Input
        </label>

        <input type="text" id="input_id_box" name="query_input_id" value="<%= @the_resourcedependency.input_id %>">
      </div>

      <div>
        <label for="quantity_required_box">
          Quantity required
        </label>

        <input type="text" id="quantity_required_box" name="query_quantity_required" value="<%= @the_resourcedependency.quantity_required %>">
      </div>

      <button>
        Update resourcedependency
      </button>
    </form>
  </div>
</div>

<hr>
