<!-- Modal -->
<div class="modal fade" id="buildingtypemodal<%= @the_position_id %>" tabindex="-1" aria-labelledby="exampleModalLabel<%= @the_position_id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: white; color: black;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel<%= @the_position_id %>">Choose a building</h1>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

      <div class="modal-body" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 15px;">
        <% Building.order(:name).each do |building_type| %>
          <div style="display: flex; flex-direction: column; align-items: center; text-align: center; width: 120px;">
            <p><%= building_type.name %></p>
            <%= form_with url: "/insert_map_building", method: :post, local: true do |f| %>
              <%= f.hidden_field :map_id, value: @the_map.id %>
              <%= f.hidden_field :query_position_id, value: @the_position_id %>
              <%= f.hidden_field :query_building_id, value: building_type.id %>
              <%= image_tag building_type.image_link, alt: "Add new building", 
                            style: "width: 100px; height: 100px; cursor: pointer;", 
                            onclick: "this.closest('form').submit();" %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <% if @the_building %>
          <a href="/delete_map_building/<%= @the_map.id %>/<%= @the_building.id %>" 
            class="btn btn-primary" 
            data-confirm="Are you sure you want to delete this building?">
            Delete Building
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
