<div>
  <div>
    <h1>
      <%= @the_map.name %> - details
    </h1>

    <% matching_buildings = @the_map.map_buildings %>

    <% if matching_buildings.empty? %>
      <p>Build something</p>
    <% else %>
    <div class="image-row">
      <% matching_buildings.each do |the_building| %>
        <div class="image-container">
          <a href="/map_buildings/<%= the_building.id %>">
            <img src="<%= the_building.building_type.image_link %>" alt="Building on the map" style="width: 100px; height: 100px;">
          </a>
        </div>
      <% end %>
      <div class="image-container">
        <a href="/maps/<%= @the_map.id %>/new_building">
          <img src="https://media.istockphoto.com/id/688550958/vector/black-plus-sign-positive-symbol.jpg?s=612x612&w=0&k=20&c=0tymWBTSEqsnYYXWeWmJPxMotTGUwaGMGs6BMJvr7X4=">
        </a>
      </div>
    <% end %>
    </div>



    
  </div>
</div>



<hr>

<%if @the_map.owner_id==current_user.id%>
  <div>
    <div>
      <h2>
        Edit map
      </h2>

      <form action="/modify_map/<%= @the_map.id %>"  method="post" >
      <div>
          <label for="name_box">
            Name
          </label>

          <input type="text" id="name_box" name="query_name" value="<%= @the_map.name %>">
        </div>

        <button>
          Update map
        </button>
      </form>
    </div>
  </div>

  <hr>

  <div>
    <div>
      
    </div>
  </div>
<%end%>

<div>
<dl>
    <dt>
      Owner
    </dt>
    <dd>
      <%= @the_map.owner.email %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_map.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_map.updated_at) %> ago
    </dd>
  </dl>
</div>
    <div>
      <div>
        <a href="/maps">
          Go back
        </a>
      </div>
      <%if @the_map.owner_id==current_user.id%>
      <div>
        <a href="/delete_map/<%= @the_map.id %>">
          Delete map
        </a>
      </div>
      <%end%>
    </div>
