<div style="display: flex; flex-direction:column; justify-content: center; flex-wrap: wrap; width: 100%; max-width: 1200px; margin: 0 auto;">

  <div class="col rounded rounded-1 bg-dark bg-gradient text-white p-3" style="display:flex; justify-content: space-between; align-items: center;">
    <h2 class="m-0" style="flex-shrink: 0;">
      <i class="bi bi-map"></i> <%= @the_map.name %>
    </h2>
    <div class="container text-center" style="margin-left: 75px; font-size: 10px; display: flex; flex-direction: column; justify-content: space-between;">
      <div class="row" style="">
        
        <div class="mb-2 col rounded-pill rounded-1 bg-secondary text-white" style="">
          Revenue: <%= number_with_delimiter(@income_statement[:total_revenue].round) %> $
        </div>
      </div>
      <div class="row" style="">
        <div class="col rounded-pill bg-secondary text-white" style="">
          Revenue: <%= number_with_delimiter(@income_statement[:total_revenue].round) %> $
        </div>
        <div class="mx-2 col rounded-pill bg-secondary text-white" style="">
          Gross profit: <%= number_with_delimiter(@income_statement[:gross_income].round) %> $
        </div>

        <% if @income_statement[:operating_income]>0%>
          <div class="col rounded-pill bg-primary text-white" style="">
            Net profit: <%= number_with_delimiter(@income_statement[:operating_income].round) %> $
          </div>
        <% else %>
          <div class="col rounded-pill bg-danger text-white" style="">
            Net profit: <%= number_with_delimiter(@income_statement[:operating_income].round) %> $
          </div>
        <%end%>
      </div>
    </div>
  </div>


  <div class="d-flex justify-content-evenly" style="">
    <div class="d-flex flex-column mt-2 me-2 mb-2 bg-dark" style="--bs-bg-opacity: .5">
        <div class="mt-2" style="padding: 0px">
          <!-- Trigger Button -->
          
          <button type="button" class="btn m-1 rounded-pill" 
              style="border: 1px solid #0d1432; color: #0d1432; background-color: #e0e2e9; width: 170px;"
              data-bs-toggle="modal" 
              data-bs-target="#income_statement_modal">
            Income statement
          </button>

          <%= render 'maps/income_statement', 
            the_position_id: @the_position_id, 
            the_map: @the_map, 
            the_building: @the_building %>

        </div>

        <div style="padding: 0px">

          <%= render 'maps/flow_of_goods', 
            the_position_id: @the_position_id, 
            the_map: @the_map, 
            the_building: @the_building %>

          <button type="button" class="btn m-1 rounded-pill" 
              style="border: 1px solid #0d1432; color: #0d1432; background-color: #e0e2e9; width: 170px;"
              data-bs-toggle="modal" 
              data-bs-target="#production_modal">
            Flow of goods
          </button>

        </div>

        <div>
          <%= render 'maps/ppe', 
            the_position_id: @the_position_id, 
            the_map: @the_map, 
            the_building: @the_building %>
        </div>
        
        <div>
          <%= render 'maps/ratios', 
            the_position_id: @the_position_id, 
            the_map: @the_map, 
            the_building: @the_building %>
        </div>

        <% if @the_map.owner_id==current_user.id%>
        <div style="padding: 0px">
            

          <hr>
          
          <div class="mt-1">
            <%= render 'maps/update_map',  
                        the_map: @the_map  %>
          </div>


          <div class="mt-3">
            <%= render 'maps/delete_map',  
                        the_map: @the_map  %>
          </div>


        </div>
        <%end%>
      </div>

    <div class="d-flex justify-content-center align-content-center flex-wrap p-2 flex-grow-1" style="gap: 10px;--bs-bg-opacity: .5">

      <% @map_buildings_by_position = @the_map.map_buildings.index_by(&:position_id) %>
      
      <% for @the_position_id in 1..14 %>
        <% @the_building = @map_buildings_by_position[@the_position_id] %>

        <!-- Building or Placeholder -->
        <% if @the_building %>

          <div class="px-2 bg-dark" style="display: flex; flex-direction:column; justify-content: space-around; width: 190px; height: 180px; border: 1px solid black; font-size: 10px; --bs-bg-opacity: .8;">
            <div class="bg-primary text-white rounded-pill rounded-1 d-flex justify-content-center">
              <%=@the_building.building_type.name%>
            </div>
            <div class="grid gap-3" style="display:flex;">
              <a href="/map_buildings/<%=@the_building.id%>">
                <div class="image-container" style="position: relative; width: 100px; height: 100px; padding: 0px; border: 1px solid black;">
                  <!-- First Image (Background) -->
                  
                  <img src="<%= @the_building.building_type.image_link %>" 
                      style="width: 120%; height: 120%; object-fit: cover;" >

                  <% if @the_building.building_type.description!="Recreation" %>
                  <!-- Second Image (Foreground, Bottom Right) -->
                  <img src="<%= @the_building.product.image_link %>" 
                      alt="Product" 
                      style="position: absolute; bottom: 0; right: 0; width: 50px; height: 50px; object-fit: contain; z-index: 1;">
                  
                  <% end %>
                </div>
              </a>
              <div>
                <p>
                  Level: <%=@the_building.level%>
                </p>

                <% if @the_building.building_type.description!="Recreation" %>
                <p>
                  Quality: <%=@the_building.quality_level%>
                </p>
                
                <% if @the_building.robots==true%>
                  <img src="<%=Resource.where({:name=>"Robots"}).first.image_link%>" style="width: 30px; height: 30px;">
                <%end%>

                <%end%>

              </div>
            </div>
            <div style="display:flex; gap:10px; justify-content:space-around;">
              <% if current_user.id==@the_map.owner_id%>
                <div>
                  <%= render 'maps/changebuildingtype', 
                    the_position_id: @the_position_id, 
                    the_map: @the_map, 
                    the_building: @the_building %>

                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#buildingtypemodal<%= @the_position_id %>">
                    <i class="bi bi-houses"></i>
                  </button>
                </div>

                <div>
                  <%= render 'maps/updatebuilding', 
                  the_position_id: @the_position_id, 
                  the_map: @the_map, 
                  the_building: @the_building %>

                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#update_properties_<%= @the_position_id %>">
                    <i class="bi bi-building-gear"></i>
                  </button>
                </div>


                <div>
                  <button type="button" class="btn btn-secondary" onclick="window.location.href='/delete_map_building/<%= @the_map.id %>/<%= @the_building.id %>';">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              <%end%>
            </div>
          </div>

        <% else %>
          <% if current_user.id == @the_map.owner_id %>
            <%= render 'maps/choosebuildingtype', 
            the_position_id: @the_position_id, 
            the_map: @the_map, 
            the_building: @the_building %>
            <div class="bg-dark"style="display: flex; flex-direction:column; justify-content: center; align-items:center; width: 190px; height: 180px; border: 1px solid black;--bs-bg-opacity: .8">
              <div style="display: flex; align-content: space-between; height: 120px; width:120px;">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#buildingtypemodal<%= @the_position_id %>" style="height: 120px; width:120px;">
                  <i class="bi bi-house-add-fill"></i>
                </button>
              </div>
            </div>
          <%end%>
        <% end %>
      <% end %>

    </div>

    <div class="d-flex flex-column mt-2 ms-2 mb-2 bg-dark" style="width: 170px; max-width: 170px; min-width: 170px; overflow: hidden; --bs-bg-opacity: .5">
      

      <div class="m-1" style="font-size:10px">
        General production bonus:<br>
        <div class="d-flex justify-content-start">
          <span class="badge text-bg-secondary"><%= @the_map.bonus %> %</span>
          <span class="badge bg-transparent text-white">+</span>
          <span class="badge text-white bg-success">
              <%= ((@income_statement[:recreation_impact]-1)*100).round(0) rescue 0%> %</span>
          <span class="badge bg-transparent text-white">=</span>
          <span class="badge text-bg-secondary">
              <%= (@the_map.bonus + ((@income_statement[:recreation_impact] - 1) * 100).round(0)) rescue 0 %> %
          </span>
        </div>

      </div>
      <div class="m-1" style="font-size:10px">
        Administration Overhead:<br>
        <div class="d-flex justify-content-start">
          <span class="badge text-bg-secondary"><%= (@income_statement[:administrative_overhead] * 100).round(1) %> %</span>
          <span class="badge bg-transparent text-white">-</span>
          <span class="badge text-white bg-success"><%= (@income_statement[:executive_impact]*100).round(1)  rescue 0 %> %</span>
          <span class="badge bg-transparent text-white">=</span>
          <span class="badge text-bg-secondary"><%= (@income_statement[:eff_administrative_overhead] * 100).round(1) %> %</span>
        </div>
      </div>

      
      <hr>

      <div class="mb-1 ms-1" style="font-size:10px">
        <% i=0 %>
        <% positions = ["COO", "CFO", "CMO", "CTO"] %>
        <% positions.each do |position| %>
          <% i=i+1 %>
          <div class="mt-1">
            <% if @the_map.executives.where({:position=>i}).exists? %>
              <%= position %>
            <% else %>
              <%= position %>: Missing
            <% end %>
          </div>
          <div>
            <% if @the_map.executives.where({:position=>i}).exists? %>
              <%the_executive=@the_map.executives.where({:position=>i}).first%>
              <%= render 'maps/update_executive', 
                the_executive: the_executive,
                position: position,
                position_id: i, 
                the_map: @the_map  %>

              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#executive_update_<%= i %>" style="font-size:10px">
                <i class="bi bi-person-gear"></i>
              </button>

              <a type="button" class="btn btn-secondary" href="/delete_executive/<%=the_executive.id%>" style="font-size:10px">
                <i class="bi bi-x-circle"></i>
              </a>

              <span class="btn btn-secondary bg-dark text-white" 
                    style="font-size:10px; display: inline-flex; align-items: center; justify-content: center; pointer-events: none; width:60px;">
                Skill: <%= the_executive.operations_level %>
              </span>
              
            <% else %>
            <%= render 'maps/create_executive', 
              position: position,
              position_id: i, 
              the_map: @the_map  %>

            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#executive_create_<%= i %>" style="font-size:10px">
              <i class="bi bi-person-fill-add"></i>
            </button>
            <% end %>
          </div>
        <% end %>
      </div>

      <hr>






      <div style="font-size:10px">Total salaries:<br>
        <span class="badge text-bg-secondary">
          <%= number_with_delimiter((@the_map&.executives&.sum(:salary) || 0).round) %> $
        </span>
      </div>

      <div style="font-size:10px">Effect on Wages:<br>
        <span class="badge text-bg-secondary">
          <%= -number_with_delimiter((@income_statement&.dig(:executive_savings) || 0).round) rescue 0 %> $
        </span>
      </div>

      <% 
        executive_savings = @income_statement&.dig(:executive_savings) || 0
        total_salaries = @the_map&.executives&.sum(:salary) || 0
        savings_difference = executive_savings - total_salaries
      %>

      <div style="font-size:10px">Executives Savings:<br>
        <% if savings_difference > 0 %>
          <span class="badge text-bg-secondary">
            <%= number_with_delimiter(savings_difference.round) %> $
          </span>
        <% else %>
          <span class="badge text-bg-warning">
            <%= number_with_delimiter(savings_difference.round) %> $
          </span>
        <% end %>
      </div>
    </div>
    
  </div>
</div>
