<div>
  <div>
    <h1>
      <%= @the_map.name %> - details
    </h1>
  </div>
</div>


<%@ledger=@the_map.production%>
<table>
  <thead>
    <tr>
      <th>Resource</th>
      <th>Quality</th>
      <th>Produced</th>
      <th>Consumed</th>
      <th>Excess</th>
      <th>Purchased</th>
      <th>Price</th>
      <th>Fee paid</th>
      <th>Transport Units</th>
      <th>Transport Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @ledger.each do |resource_id, qualities| %>
      <% qualities.each do |quality, flow| %>
        <tr>
          <td><%= resource_id %></td>
          <td><%= quality %></td>
          <td><%= flow[:produced].round(0) %></td>
          <td><%= flow[:consumed].round(0) %></td>
          <td><%= flow[:excess].round(0) %></td>
          <td><%= flow[:purchased].round(0) %></td>
          <td><%= flow[:price].round(2) %> $</td>
          <td><%= flow[:fee_paid].round(2) %></td>
          <td><%= flow[:transport_needed].round(0) %></td>
          <td><%= flow[:transport_cost].round(2) %> $</td>


        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<hr>
<div style="display: flex; flex-wrap:wrap; align-content:flex-start;">
  <% for the_position_id in 1..18 %>
  <% the_building = @the_map.map_buildings.find_by(position_id: the_position_id) %>
  <div class="image-container">
    <% if the_building %>
      <a href="/map_buildings/<%= the_building.id %>">
        <img src="<%= the_building.building_type.image_link %>" alt="Building on the map" style="width: 100px; height: 100px;">
      </a>
    <% else %>
      <a href="/maps/<%= @the_map.id %>/new_building/<%= the_position_id %>">
        <img src="https://media.istockphoto.com/id/688550958/vector/black-plus-sign-positive-symbol.jpg?s=612x612&w=0&k=20&c=0tymWBTSEqsnYYXWeWmJPxMotTGUwaGMGs6BMJvr7X4=" alt="Add new building" style="width: 100px; height: 100px;">
      </a>
    <% end %>
  </div>
<% end %>
</div>
<hr>


<%if @the_map.owner_id==current_user.id%>
  <div>
    <div>
      <h2>
        Edit map
      </h2>

      <form action="/modify_map/<%= @the_map.id %>"  method="post" >
      <div>
          <label for="name_box">
            Name
          </label>

          <input type="text" id="name_box" name="query_name" value="<%= @the_map.name %>">
        </div>

        <button>
          Update map
        </button>
      </form>
    </div>
  </div>

  <hr>

  <div>
    <div>
      
    </div>
  </div>
<%end%>

<div>
<dl>
    <dt>
      Owner
    </dt>
    <dd>
      <%= @the_map.owner.email %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_map.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_map.updated_at) %> ago
    </dd>
  </dl>
</div>
    <div>
      <div>
        <a href="/maps">
          Go back
        </a>
      </div>
      <%if @the_map.owner_id==current_user.id%>
      <div>
        <a href="/delete_map/<%= @the_map.id %>">
          Delete map
        </a>
      </div>
      <%end%>
    </div>


<h1><%=@the_map.total_profit.round(0)%> $</h1>

-
<!--

Revenue
Cost of Goods Sold
Sold Products
fees paid
transport cost

-->
