<div style="display: flex; flex-direction:column; justify-content: center; flex-wrap: wrap; width: 100%; max-width: 1200px; margin: 0 auto;">

  <div class="col rounded rounded-1 bg-dark bg-gradient text-white p-3" style="display:flex; justify-content: space-between; align-items: center;">
    <h2 class="m-0" style="flex-shrink: 0;">
      <%= @the_map.name %>
    </h2>
    <div class="container text-center" style="margin-left: 350px; font-size: 10px; display: flex; flex-direction: column; justify-content: space-between;">
      <div class="row" style="">
        <div class="mb-2 me-2 col rounded-pill rounded-1 bg-success-subtle text-success-emphasis" style="" >
          Production bonus: <%=@the_map.bonus%> %
        </div>
        <div class="mb-2 col rounded-pill rounded-1 bg-success-subtle text-success-emphasis" style="">
          Administration Overhead: <%=(@income_statement[:administrative_overhead]*100).round(1)%> %
        </div>
      </div>
      <div class="row" style="">
        <div class="col rounded-pill bg-success text-white" style="">
          Revenue: <%= number_with_delimiter(@income_statement[:total_revenue].round) %> $
        </div>
        <div class="mx-2 col rounded-pill bg-success text-white" style="">
          Gross profit: <%= number_with_delimiter(@income_statement[:gross_income].round) %> $
        </div>
        <div class="col rounded-pill bg-success text-white" style="">
          Net profit: <%= number_with_delimiter(@income_statement[:operating_income].round) %> $
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex justify-content-evenly mx-4 border" style="">
    <div class="d-flex align-content-start flex-wrap p-2 flex-grow-1 border" style="gap: 10px;">

      <% @map_buildings_by_position = @the_map.map_buildings.index_by(&:position_id) %>
      
      <% for @the_position_id in 1..14 %>
        <% @the_building = @map_buildings_by_position[@the_position_id] %>

        <!-- Building or Placeholder -->
        <% if @the_building %>

          <div class="px-2 bg-dark" style="display: flex; flex-direction:column; justify-content: space-around; width: 190px; height: 180px; border: 1px solid black; font-size: 10px; --bs-bg-opacity: .8;">
            <div class="bg-primary text-white rounded-pill rounded-1 d-flex justify-content-center">
              <%=@the_building.building_type.name%>
            </div>
            <div class="grid gap-3" style="display:flex;">
              <a href="/map_buildings/<%=@the_building.id%>">
                <div class="image-container" style="position: relative; width: 100px; height: 100px; padding: 0px; border: 1px solid black;">
                  <!-- First Image (Background) -->
                  
                  <img src="<%= @the_building.building_type.image_link %>" 
                      style="width: 120%; height: 120%; object-fit: cover;" >

                  <% if @the_building.building_type.description!="Recreation" %>
                  <!-- Second Image (Foreground, Bottom Right) -->
                  <img src="<%= @the_building.product.image_link %>" 
                      alt="Product" 
                      style="position: absolute; bottom: 0; right: 0; width: 50px; height: 50px; object-fit: contain; z-index: 1;">
                  
                  <% end %>
                </div>
              </a>
              <div>
                <p>
                  Level: <%=@the_building.level%>
                </p>

                <% if @the_building.building_type.description!="Recreation" %>
                <p>
                  Quality: <%=@the_building.quality_level%>
                </p>

                <p>
                  Robots <%=@the_building.robots%>
                </p>
                <%end%>

              </div>
            </div>
            <div style="display:flex; gap:10px; justify-content:space-around;">
              <% if current_user.id==@the_map.owner_id%>
                <div>
                  <%= render 'maps/changebuildingtype', 
                    the_position_id: @the_position_id, 
                    the_map: @the_map, 
                    the_building: @the_building %>

                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#buildingtypemodal<%= @the_position_id %>">
                    <i class="bi bi-houses"></i>
                  </button>
                </div>

                <div>
                  <%= render 'maps/updatebuilding', 
                  the_position_id: @the_position_id, 
                  the_map: @the_map, 
                  the_building: @the_building %>

                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#update_properties_<%= @the_position_id %>">
                    <i class="bi bi-house-gear"></i>
                  </button>
                </div>


                <div>
                  <button type="button" class="btn btn-secondary" onclick="window.location.href='/delete_map_building/<%= @the_map.id %>/<%= @the_building.id %>';">
                    <i class="bi bi-house-x"></i>
                  </button>
                </div>
              <%end%>
            </div>
          </div>

        <% else %>
          <% if current_user.id == @the_map.owner_id %>
            <%= render 'maps/choosebuildingtype', 
            the_position_id: @the_position_id, 
            the_map: @the_map, 
            the_building: @the_building %>
            <div class="bg-dark"style="display: flex; flex-direction:column; justify-content: center; align-items:center; width: 190px; height: 180px; border: 1px solid black;--bs-bg-opacity: .8">
              <div style="display: flex; align-content: space-between; height: 120px; width:120px;">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#buildingtypemodal<%= @the_position_id %>" style="height: 120px; width:120px;">
                  <i class="bi bi-house-add-fill"></i>
                </button>
              </div>
            </div>
          <%end%>
        <% end %>
      <% end %>

    </div>

    <div class="d-flex flex-column border">

      <div class="d-flex flex-column m-2 border">
        <div style="padding: 0px">
          <!-- Trigger Button -->
          
          <button type="button" class="btn" 
              style="border: 1px solid #0d1432; color: #0d1432; background-color: #e0e2e9;" 
              data-bs-toggle="modal" 
              data-bs-target="#income_statement_modal">
            Income statement
          </button>

          <%= render 'maps/income_statement', 
            the_position_id: @the_position_id, 
            the_map: @the_map, 
            the_building: @the_building %>

        </div>

        <div style="padding: 0px">

          <%= render 'maps/flow_of_goods', 
            the_position_id: @the_position_id, 
            the_map: @the_map, 
            the_building: @the_building %>

          <button type="button" class="btn" 
              style="border: 1px solid #0d1432; color: #0d1432; background-color: #e0e2e9;" 
              data-bs-toggle="modal" 
              data-bs-target="#production_modal">
            Flow of goods
          </button>

        </div>

        <div style="padding: 0px">

          <%= render 'maps/ratios', 
            the_position_id: @the_position_id, 
            the_map: @the_map, 
            the_building: @the_building %>

          <button type="button" class="btn" 
              style="border: 1px solid #0d1432; color: #0d1432; background-color: #e0e2e9;" 
              data-bs-toggle="modal" 
              data-bs-target="#ratios_modal">
            Ratios
          </button>

        </div>
      </div>

      <div class="d-flex flex-column m-2 border", style="font-size:10px">
        <% i=0 %>
        <% positions = ["COO", "CFO", "CMO", "CTO"] %>
        <% positions.each do |position| %>
          <% i=i+1 %>
          <div>
            <% if @the_map.executives.where({:position=>i}).exists? %>
              <%= position %> skill: <%=@the_map.executives.where({:position=>i}).first.operations_level%>
            <% else %>
              <%= position %> skill: Missing
            <% end %>
          </div>
          <div>
            <% if @the_map.executives.where({:position=>i}).exists? %>
              <%the_executive=@the_map.executives.where({:position=>i}).first%>
              <%= render 'maps/update_executive', 
                the_executive: the_executive,
                position: position,
                position_id: i, 
                the_map: @the_map  %>

              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#executive_update_<%= i %>" style="font-size:10px">
                Update Executive
              </button>
            <% else %>
            <%= render 'maps/create_executive', 
              position: position,
              position_id: i, 
              the_map: @the_map  %>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#executive_create_<%= i %>" style="font-size:10px">
              Create Executive
            </button>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
