<div>
  <div>
    <h1>
      List of all productionruns
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new productionrun
    </h2>

    <form action="/insert_productionrun" method="post">
      <div>
        <label for="product_id_box">
          Product
        </label>

        <input type="text" id="product_id_box" name="query_product_id">
      </div>

      <div>
        <label for="quality_level_box">
          Quality level
        </label>

        <input type="text" id="quality_level_box" name="query_quality_level">
      </div>

      <div>
        <label for="production_time_box">
          Production time
        </label>

        <input type="time" id="production_time_box" name="query_production_time">
      </div>

      <div>
        <label for="map_building_id_box">
          Map building
        </label>

        <input type="text" id="map_building_id_box" name="query_map_building_id">
      </div>

      <button>
        Create productionrun
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Product
        </th>

        <th>
          Quality level
        </th>

        <th>
          Production time
        </th>

        <th>
          Map building
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_productionruns.each do |a_productionrun| %>
      <tr>
        <td>
          <%= a_productionrun.id %>
        </td>

        <td>
          <%= a_productionrun.product_id %>
        </td>

        <td>
          <%= a_productionrun.quality_level %>
        </td>

        <td>
          <%= a_productionrun.production_time %>
        </td>

        <td>
          <%= a_productionrun.map_building_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_productionrun.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_productionrun.updated_at) %> ago
        </td>

        <td>
          <a href="/productionruns/<%= a_productionrun.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
