<div>
  <div>
    <h1>
      Productionrun #<%= @the_productionrun.id %> details
    </h1>

    <div>
      <div>
        <a href="/productionruns">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_productionrun/<%= @the_productionrun.id %>">
          Delete productionrun
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Product
      </dt>
      <dd>
        <%= @the_productionrun.product_id %>
      </dd>

      <dt>
        Quality level
      </dt>
      <dd>
        <%= @the_productionrun.quality_level %>
      </dd>

      <dt>
        Production time
      </dt>
      <dd>
        <%= @the_productionrun.production_time %>
      </dd>

      <dt>
        Map building
      </dt>
      <dd>
        <%= @the_productionrun.map_building_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_productionrun.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_productionrun.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit productionrun
    </h2>

    <form action="/modify_productionrun/<%= @the_productionrun.id %>"  method="post" >
      <div>
        <label for="product_id_box">
          Product
        </label>

        <input type="text" id="product_id_box" name="query_product_id" value="<%= @the_productionrun.product_id %>">
      </div>

      <div>
        <label for="quality_level_box">
          Quality level
        </label>

        <input type="text" id="quality_level_box" name="query_quality_level" value="<%= @the_productionrun.quality_level %>">
      </div>

      <div>
        <label for="production_time_box">
          Production time
        </label>

        <input type="time" id="production_time_box" name="query_production_time" value="<%= @the_productionrun.production_time %>">
      </div>

      <div>
        <label for="map_building_id_box">
          Map building
        </label>

        <input type="text" id="map_building_id_box" name="query_map_building_id" value="<%= @the_productionrun.map_building_id %>">
      </div>

      <button>
        Update productionrun
      </button>
    </form>
  </div>
</div>

<hr>
