<!-- Trigger (example: the image div or a button) -->
<div 
  class="rounded m-1"
  style="position: relative; max-width: 100px; max-height: 100px; background: rgba(0, 0, 0, 0.5); cursor: pointer;"
  data-bs-toggle="modal"
  data-bs-target="#resource-details-modal-<%= a_resource.id %>"
>
  <img 
    class="figure-img img-fluid rounded" 
    src="<%= a_resource.image_link %>" 
    alt="<%= a_resource.name %>" 
    style="max-width: 100%; max-height: 100%;">
  <div 
    style="position: absolute; bottom: 0; left: 0; width: 100%; color: white; text-align: center; padding: 5px; font-size: 14px; font-weight: bold;">
    <%= a_resource.name %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="resource-details-modal-<%= a_resource.id %>" tabindex="-1" aria-labelledby="resource-details-modal-label-<%= a_resource.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="resource-details-modal-label-<%= a_resource.id %>"><%= a_resource.name %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <% if a_resource.building.present? %>
        <h6>Produced in:</h6>
        <div class="rounded m-1" style="position: relative; max-width: 100px; max-height: 100px; background: rgba(0, 0, 0, 0.5)">
          <!-- Image -->
          <img 
            class="figure-img img-fluid rounded" 
            src="<%= a_resource.building.image_link %>" 
            alt="<%= a_resource.building.name %>" 
            style="max-width: 100%; max-height: 100%;">
          <!-- Caption -->
          <div 
            style="position: absolute; bottom: 0; left: 0; width: 100%;; color: white; text-align: center; padding: 5px; font-size: 14px;font-weight: bold;">
            <%= a_resource.building.name %>
          </div>
        </div>
        <% else %>
          <!-- Display nothing or a placeholder -->
        <% end %>

        <hr>
        <h6>Requires:</h6>
        <div class="d-flex justify-content-start">
          <% a_resource.inputs.each do |an_input|%>
            <div class="rounded m-1" style="max-width: 50px; max-height: 50px; background: rgba(0, 0, 0, 0)">
              <!-- Image -->
              <img 
                class="figure-img img-fluid rounded" 
                src="<%= an_input.image_link %>" 
                alt="<%= an_input.building.name %>" 
                style="max-width: 100%; max-height: 100%;">
              <!-- Caption -->
              <div style="bottom: -0.5; left: 0; width: 100%; color: black; text-align: center; padding: 5px; font-size: 14px;font-weight: bold;">
                <%= an_input.name %>
              </div>
            </div>
          <%end%>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
