
<div class="d-flex flex-column justify-content-center align-items-center">
  <h2 class="m1"><%=@the_resource.name%></h2>
  <div class="d-flex flex-column align-items-center bg-dark mt-1 opacity-75 rounded" style="width:50%; height:100%">
    <% if @the_resource.inputs.present? %>
    <div class="my-3 fst-italic" style="font-size: 12px;"> requires:</div>
    <div class="d-flex flex-wrap justify-content-center">
      <%@the_resource.dependant_resources.each do |dependant_relation|%>
        <%an_input=Resource.where({:id=>dependant_relation.input_id}).first%>
        <a href="/resources/<%= an_input.id %>" class="text-decoration-none" style="color: white;">
          <div class="my-2 mx-2 d-flex flex-column align-items-center">
            <img style="height:70px; width:70px;" src="<%=an_input.image_link%>">
            <div class="fw-semibold" style="font-size: 12px;"><%=smart_round(dependant_relation.quantity_required)%> &times; <%=an_input.name%></div>
            <div class="fw-semibold" style="font-size: 12px;">$<%=an_input.price_for_quality(0)%></div>
          </div>
        </a>

      <%end%>
    </div>
    <i class="mt-1 bi bi-arrow-down"></i>
    <% end %>
    <div class="my-1 d-flex justify-content-between align-items-end">
      <div class="me-5 d-flex flex-column align-items-center">
        <img style="height:120px; width:120px;" src="<%=@the_resource.image_link%>">
        <div class="fs-6 fw-semibold"><%=@the_resource.name%></div>
      </div>
      <div class="ms-5 bg-dark">
        <%= render 'resources/price_chart'%>
      </div>
    </div>
    <% if @the_resource.products.present? %>
    <i class="mt-1 bi bi-arrow-down"></i>

    <div class="mt-2 d-flex flex-wrap justify-content-center">
      <%@the_resource.input_relationships.each do |an_input_relation|%>
        <%a_product=Resource.where({:id=>an_input_relation.product_id}).first%>
        <a href="/resources/<%= a_product.id %>" class="text-decoration-none" style="color: white;">
          <div class="my-2 mx-2 d-flex flex-column align-items-center">
            <img style="height:70px; width:70px;" src="<%=a_product.image_link%>">
            <div class="fw-semibold" style="font-size: 12px;"><%=a_product.name%></div>
          </div>
        </a>
      <%end%>
    </div>
    <%end%>
  </div>
</div>
