<div>
  <div>
    <h1>
      Price #<%= @the_price.id %> details
    </h1>

    <div>
      <div>
        <a href="/prices">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_price/<%= @the_price.id %>">
          Delete price
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Resource
      </dt>
      <dd>
        <%= @the_price.resource_id %>
      </dd>

      <dt>
        Quality level
      </dt>
      <dd>
        <%= @the_price.quality_level %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @the_price.price %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_price.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_price.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit price
    </h2>

    <form action="/modify_price/<%= @the_price.id %>"  method="post" >
      <div>
        <label for="resource_id_box">
          Resource
        </label>

        <input type="text" id="resource_id_box" name="query_resource_id" value="<%= @the_price.resource_id %>">
      </div>

      <div>
        <label for="quality_level_box">
          Quality level
        </label>

        <input type="text" id="quality_level_box" name="query_quality_level" value="<%= @the_price.quality_level %>">
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price" value="<%= @the_price.price %>">
      </div>

      <button>
        Update price
      </button>
    </form>
  </div>
</div>

<hr>
