
<div style="display: flex;">
  <div style="flex: 0 0 20%; border: 1px solid black; padding: 10px;">
    <div style="display: block; border: 1px solid red;">
      <div style="display: block; border: 1px solid red;">
        <h1>
          <%= @the_map_building.building_type.name%>
        </h1>

        <h2>
          Level <%= @the_map_building.level %>
        </h2>
        <div class="image-container" style="display: block; border: 1px solid red;">
          <img src="<%= @the_map_building.building_type.image_link%>">
        </div>
        
        
      </div>
    </div>

    <hr>
    <form action="/modify_map_building/<%= @the_map_building.id %>/level" method="post" style="display: block; border: 1px solid red;">
      <input type="hidden" name="query_level" value="<%= @the_map_building.level + 1%>">
      <button type="submit">
        Level Up
      </button>
    </form>
    <form action="/modify_map_building/<%= @the_map_building.id %>/level" method="post" style="display: block; border: 1px solid red;">
      <input type="hidden" name="query_level" value="<%= @the_map_building.level - 1%>">
      <button type="submit">
        Level Down
      </button>
    </form>

    <div style="display: block; border: 1px solid red;">
      <div style="display: block; border: 1px solid red;">
        <h2>
          Edit map building
        </h2>

        <form action="/modify_map_building/<%= @the_map_building.id %>/type"  method="post" >
          <div style="display: block; border: 1px solid red;">
            <label for="building_id_box">
              Building
            </label>
            <input type="text" id="building_id_box" name="query_building_id" value="<%= @the_map_building.building_id %>">
          </div>

          <button>
            Update building type
          </button>
        </form>
      </div>
    </div>

    <hr>

    <div style="display: block; border: 1px solid red;">
      <div style="display: block; border: 1px solid red;">
        <a href="/maps/<%=@the_map_building.user_map.id%>">
          Go back
        </a>
      </div>

      <div style="display: block; border: 1px solid red;">
        <a href="/delete_map_building/<%= @the_map_building.id %>">
          Delete map building
        </a>
      </div>
    </div>
  </div>
  <div style="flex: 1; border: 1px solid black; padding: 10px;">
    <!--
    Current Production Block
    -->
    <div style="display: flex; justify-content:center">
      <h3>
        Show Current Production Setting
      </h3>
    </div>
    
    <div style="display: flex; justify-content:space-between; border: 1px solid black; padding: 10px;">
      <!--Left Block-- Produced Product -->
      <div style="display: flex; flex-direction: column;">
        <h3>
          Current Product
        </h3>
        <div style="flex: 1; border: 1px solid black; padding: 10px; width:230px;">
          <h3> <%=@the_map_building.product.name%> </h3>
          <img src="<%= @the_map_building.product.image_link %>" style="width: 100px; height: 100px;">
          <p>Quality level: <%= @the_map_building.quality_level %></p>
          <p>Transport Units needed: <%=@transport_amount_per_unit%></p>

          <div style="display: flex; justify-content: space-between">
            <% if @the_map_building.quality_level<12%>
            <form action="/modify_map_building/<%= @the_map_building.id %>/quality_level" method="post" style="display: block; border: 1px solid red;">
              <input type="hidden" name="query_quality_level" value="<%= @the_map_building.quality_level + 1%>">
              <button type="submit">
                Increase Quality
              </button>
            </form>
            <% end %>
          
            <% if @the_map_building.quality_level>0%>
            <form action="/modify_map_building/<%= @the_map_building.id %>/quality_level" method="post" style="display: block; border: 1px solid red;">
              <input type="hidden" name="query_quality_level" value="<%= @the_map_building.quality_level - 1%>">
              <button type="submit">
                Decrease Quality
              </button>
            </form>
            <% end %>
          </div>

        </div>
      </div>
      <!--Middle Block-- Input Resources -->
      <div style="display: flex; flex-direction: column;">
        <h3>
          Input Resources
        </h3>
        <% if @the_map_building&.product&.inputs.present? %>
        <div style="display: flex; flex-direction: column; border: 1px solid black; padding: 10px;">
          <% @the_map_building.product.inputs.each do |input| %>
            <div style="display: flex; justify-content: space-between; align-items: center; gap: 10px;">
              <div style="border: 1px solid black;">
                <img src="<%= input.image_link %>" style="width: 50px; height: 50px;">
              </div>
              <div>
                <% if input.prices.where(:quality_level=> @minimum_input_quality).exists?%>
                Price per Unit: <%=(input.prices.where(:quality_level=> @minimum_input_quality).first.price).round(2)%> $,

                <%=input.price_for_quality(@minimum_input_quality).round(2)%>
                <%else%>
                Price per Unit not available :/
                <%end%>
              </div>
              <div>
                Quality: <%=@minimum_input_quality%>,
              </div>
              <div>
                <% amount= @the_map_building.product.dependant_resources.where({:input_id=>input.id}).at(0).quantity_required%>
                Amount needed: <%=amount%>
              </div>
            </div>
          <% end %>
        </div>
        <% else %>
        <div>
          <p> No Inputs needed!</p>
        </div>
        <%end%>
      </div>
      <!--Right Block -- Daily outcome -->
      <div style="display: flex; flex-direction: column;">
        <h3>
          Daily outcome
        </h3>
        <div style="flex: 1; border: 1px solid black; padding: 10px;">
          <p> Product Exchange Price: <%= @product_price %> $</p>
          <p> Units per day: <%= @units_per_day %> Units</p>
          <p> Revenue per day: <%= @revenue_per_day%> $</p>
          <p> Wage cost per day: <%= @wage_cost_per_day%> $</p>
          <p> Cost of Input Resources per day: <%= @cost_of_input_per_day%> $</p>
          <p> Profit per day: <%=@profit_per_day%> $</p>
        </div>
      </div>
    </div>
    <div style="flex: 1; border: 1px solid black; padding: 10px;">
      <h2>
        Show Possible Products
      </h2>
      <!-- Available Items-->
      <div style="display: flex; flex-wrap: wrap; align-content: flex-start">
        <% @the_map_building.building_type.products.each do |product| %>
        <div style="display: flex; flex-direction: column; justify-content: space-between; width: 100px; height: 150px; margin:5px;">
          <div class="image-container" style="display: block; border: 1px solid red;">
            <form action="/modify_map_building/<%= @the_map_building.id %>/product" method="post">
              <!-- Hidden attributes -->
              <input type="hidden" name="query_product_id" value="<%= product.id %>">
              <!-- Image as a button -->
              <input type="image" src="<%= product.image_link %>" alt="Submit" style="width: 100px; height: 100px;">
            </form>
          </div>
          <div>
            <%=product.name%>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
