<div style="display: flex; flex-direction:column;justify-content: space-around; width: 100%; max-width: 1000px; margin: 0 auto;">
  <div style="display: flex; justify-content: space-around; width: 100%; max-width: 1000px; margin: 0 auto;">
    
    <div class="mt-3 me-4 bg-dark text-white" style="display: flex; flex-direction:column; justify-content: space-around; width: 100%; max-width: 250px; margin: 0 auto; border: 1px solid black;--bs-bg-opacity: .9">

      <img 
        class="mr-1 cropped-image" 
        src="<%= @the_map_building.building_type.image_link %>" 
        alt="<%= @the_map_building.building_type.name %>" 
        style="object-fit: cover; clip-path: inset(20% 0% 20% 0%); width: 100%; height: auto;">

      <hr>

      <div class="ms-2">
        <div><%=@the_map_building.building_type.name%></div>
        <div>Level <%=@the_map_building.level%></div>
      </div>

      <hr>

      <div class="ms-2 me-2 mb-4">

        <div style="font-size:12px">Construction cost: <span class="badge text-bg-secondary"><%= number_to_currency(@the_map_building.construction_cost) %></span></div>
        <div style="font-size:12px">Scrap value: <span class="badge text-bg-secondary"><%= number_to_currency(@the_map_building.scrap_value) %></span></div>
        <%if @the_map_building.robots=true%>
        <div style="font-size:12px">Robots cost: <span class="badge text-bg-secondary"><%= number_to_currency(@the_map_building.robot_cost) %></span></div>
        <div style="font-size:12px">Robots scrap value: <span class="badge text-bg-secondary"><%= number_to_currency(@the_map_building.robot_scrap_value) %></span></div>
        <%end%>
        <hr>
        <div style="font-size:12px">Worker wages: <span class="badge text-bg-secondary"><%= number_to_currency(@the_map_building.building_type.wage_cost_per_hour*24) %></span></div>
      </div>

    </div>
    
    <div class="mt-3 bg-dark text-white" style="display: flex; flex-direction:column; justify-content: space-between; width: 100%; margin: 0 auto; border: 1px solid black; --bs-bg-opacity: .9;">

    <div class="mt-5 ps-3" style="display: flex; justify-content: space-between; width: 100%;">
        <!-- Image and Stars Section -->
        <div class="pe-5 d-flex flex-column align-items-center">
          <!-- Stars Section -->
          <div class="d-flex justify-content-center" style="margin-bottom: -10px;">
            <% (1..@the_map_building.quality_level).each do %>
              <i class="bi bi-star-fill" style="color: gold; margin-right: 5px;"></i>
            <% end %>
          </div>

          <!-- Image Section -->
          <img src="<%= @the_map_building.product.image_link %>" style="width: 130px; height: 130px;">
        </div>

        <div class="vr" style="width: 2px; background-color: black; height: 100%; opacity: 1;"></div>

        <!-- First Text Section -->
        <div class="pe-5 d-flex flex-column justify-content-center">
          <p><%= @the_map_building.product.name %> Q <%= @the_map_building.quality_level %></p>
          <p>Producing: <%= @the_map_building.product.units_per_hour * @the_map_building.level %></p>
        </div>

        <div class="vr" style="width: 2px; background-color: black; height: 100%; opacity: 1;"></div>

        <!-- Second Text Section -->
        <div class="pe-5 d-flex flex-column justify-content-center">
          <p><%= @the_map_building.product.name %> Q <%= @the_map_building.quality_level %></p>
          <p>Producing: <%= @the_map_building.product.units_per_hour * @the_map_building.level %></p>
        </div>
      </div>

    </div> 

  </div>
  <button type="button" class="btn btn-primary mt-3" onclick="window.location.href='/maps/<%= @the_map.id %>';">Go to <%= @the_map.name %></button>

</div>
