<!-- Modal -->
<div class="modal fade" id="passwordChangeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="passwordChangeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="passwordChangeModalLabel">Change Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color: black;">
        <%= form_with(url: "/users/edit/password", method: :post, local: true) do |f| %>
          <!-- Current Password -->
          <div class="input-group flex-nowrap mb-3">
            <span style="width:150px" class="input-group-text">Current Password</span>
            <%= f.password_field :current_password, class: "form-control", placeholder: "Enter current password", autocomplete: "current-password" %>
          </div>

          <!-- New Password -->
          <div class="input-group flex-nowrap mb-3">
            <span style="width:150px" class="input-group-text">New Password</span>
            <%= f.password_field :password, class: "form-control", placeholder: "Enter new password", autocomplete: "new-password" %>
          </div>

          <!-- Confirm New Password -->
          <div class="input-group flex-nowrap mb-3">
            <span style="width:150px" class="input-group-text">Confirm Password</span>
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm new password", autocomplete: "new-password" %>
          </div>

          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Close</button>
            <%= f.submit "Update Password", class: "btn btn-primary" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
