<div class="d-flex justify-content-center">
  <div class="mt-3 bg-dark opacity-75 rounded" style="max-width:500px; height:100%">

    <h2 class="mx-3 mt-3">My Profile</h2>

    <form class="mx-3 mt-3" action="/users/edit/name_email" method="post">
      <%= csrf_meta_tags %>

      <!-- Username Field -->
      <div class="input-group flex-nowrap mb-3">
        <span style="width:100px" class="input-group-text" id="addon-wrapping">Username</span>
        <input type="text" name="query_username" class="form-control" value="<%= current_user.username %>" placeholder="Enter new username" aria-label="Username" aria-describedby="addon-wrapping">
      </div>

      <!-- Email Field -->
      <div class="input-group flex-nowrap mb-3">
        <span style="width:100px" class="input-group-text" id="addon-wrapping">E-Mail</span>
        <input type="text" name="query_email" class="form-control" value="<%= current_user.email %>" placeholder="Enter new email" aria-label="E-Mail" aria-describedby="addon-wrapping">
      </div>

      <button class="btn btn-primary" type="submit">Change</button>
    </form>
    <!-- Button to Trigger Password Modal -->
    <button type="button" class="m-3 btn btn-warning" data-bs-toggle="modal" data-bs-target="#passwordChangeModal">
      Change Password
    </button>

    <!-- Delete Account Button -->
    <button type="button" class="m-3 btn btn-danger" onclick="if(confirm('Are you sure you want to delete your account? This action cannot be undone.')) { document.getElementById('deleteAccountForm').submit(); }">
      Delete Account
    </button>

    <!-- Hidden Form for Account Deletion -->
    <%= form_with url: user_registration_path, method: :delete, id: 'deleteAccountForm', style: 'display: none;' do %>
<% end %>

      <% if flash[:notice] %>
    <div class=" m-3 alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="m-3 alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
  </div>

</div>

<!-- Include the modal outside of wrapping divs -->
<%= render 'devise/user/password_change' %>

